In [1]:
import numpy as np

# square root of a program

## using comprehension

In [2]:
nos=[1,2,3,4,5,6,7,8,9,10]
squares=[x**2 for x in nos]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## using lambda and map function

In [12]:
squares=list(map(lambda x:x**2,nos) )
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### count items starting with a letter with 's' using map function

In [18]:
input_list=['san jose','san fransiscoe','san martin','lost angels']
n_items=sum(map(lambda x:x[0]=='s',input_list))
n_items

3

### count items starting with a letter with 's'and ending with 'e' using a map function

In [26]:
n_items=list(map(lambda x:x[0]=='s' and x[-1]=='e',input_list))
print(n_items)

[True, True, False, False]

In [37]:
input_list = [['Ankur','Avik','Kiran','Nitin'],['Narang','Sarkar','R','Sareen']]
x=input_list[0]
y=input_list[1]
concat1=list(map(lambda x,y:x+" "+y,input_list[0],input_list[1]))
print(concat1)
#method 2 using slicing
concat2=list(map(lambda x,y:x+" "+y,x,y))
print(concat2)

['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']
['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']

### filter function

In [43]:
input_list=['hy','my','name','is','wasif','mustaqeem']
##extract wasif 
result=list(filter(lambda x:x=='wasif' or x=='mustaqeem',input_list))
print('result')

result

In [46]:
input_list = ['hdjk', 'salsap', 'sherpa']
result=list(filter(lambda x:x[0]=='s' and x[-1]=='p',input_list))
print(result)

['salsap']

### using reduce function

In [48]:
input_list=['All','you','have','to','fear','is','fear','itself']
from functools import reduce
result=reduce(lambda x,y:x+" "+y,input_list)
result

'All you have to fear is fear itself'

In [53]:
#finding max no in a list by reduce funtion
input_list = [65,76,87,23,12,90,99]
max_no=reduce(lambda x,y:x if x>y else y,input_list)
max_no

99

In [56]:
sums=(reduce(lambda x,y:x+y,input_list))
sums

452

In [58]:
sum(input_list)

452

#### finding factorial using reduce

In [64]:
from functools import reduce
n=5
factorial=reduce(lambda x,y:x*y,range(1,n+1))if n>0 else 0 if n==0 else "factorial not possible"
factorial

120

## reverse a list

In [74]:
l1=['ram','lakhan','kishan']
print([l1[::-1]])

[['kishan', 'lakhan', 'ram']]

##### reversing items in its own position

'ram'

In [80]:
print("original list==",l1)
x=[]
for i in s:
    x.append(i[::-1])
print(x)

original list== ['ram', 'lakhan', 'kishan']
['mar', 'nahkal', 'nahsik']

## count the no items in a list

#### using counter function from collections

In [82]:
l1 = [11,22,11,22,33,44,55,11,11,22,55,66,77,88,99,99]
from collections import Counter

In [84]:
counted_items=Counter(l1)
counted_items

Counter({11: 4, 22: 3, 33: 1, 44: 1, 55: 2, 66: 1, 77: 1, 88: 1, 99: 2})

In [90]:
##printing the items with frequency above 2
for keys,counts in counted_items.items():
    #print(keys,counts)
    if counts>1:
        print(keys)

11
22
55
99

In [95]:
list1 = [10, 20, 30, 20, 20, 30, 40,
         50, -20, 60, 60, -20, -20]

def repeat(x):
    _size=len(x)
    repeated=[]
    for i in range(_size):
        k=i+1
        for j in range(k,_size):
            if x[i]==x[j] and x[i] not in repeated:
                repeated.append(x[i])

    return repeated      
print(repeat(list1))

[20, 30, -20, 60]

#### using count method

In [115]:
list1 = [10, 20, 30, 20, 20, 30, 40,
         50, -20, 60, 60, -20, -20]
repeated=[]
for no in list1:
    
    n=list1.count(no)
   
    if n>1:
        if no not in repeated:
            repeated.append(no)
print(repeated)

[20, 30, -20, 60]

In [118]:
# program to print duplicate numbers in a given list
# provided input
list = [1, 2, 1, 2, 3, 4, 5, 1, 1, 2, 5, 6, 7, 8, 9, 9]
repeated=[]
not_repeated=[]
for i in list:
    if list.count(i)>1 and i not in repeated:
        repeated.append(i)
    if list.count(i)<2 and i not in not_repeated:
        not_repeated.append(i)
print(repeated)
print(not_repeated)

[1, 2, 5, 9]
[3, 4, 6, 7, 8]

In [121]:
#using set + comprehension
x=set([x for x in list if list.count(x)>1])
print(x)

{1, 2, 5, 9}

In [130]:
#removing repeated element using sets
x=set(list)
print(x)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### check if elements exist in list python

In [132]:
list=[1,2,3,4,5,6]
x=int(input('press the no to be searched'))
print(x)
if x in list:
    print ("yes the element exists in the list")
else:
    print('the element does not exist in the list')

press the no to be searched88
88
the element does not exist in the list

In [139]:
###getting a dictionary value
###search the key for a value 100
# creating a new dictionary
my_dict ={"java":100, "python":112, "c":11}
for keys,values in my_dict.items():
    if values==100:
         print(keys)

java

In [156]:
#working with th lists
list1 = [4, 5, 6, 7, 8, 9]
print("print the original list",list1)
list1.reverse()
reversed_list=list1
print('reveresed list',reversed_list)

print the original list [4, 5, 6, 7, 8, 9]
reveresed list [9, 8, 7, 6, 5, 4]

In [167]:
list2=[]
print(list1)
list2.extend(list1)
print(list2)
list1.reverse()
list2.extend(list1)
list2

[9, 8, 7, 6, 5, 4]
[9, 8, 7, 6, 5, 4]

[9, 8, 7, 6, 5, 4, 4, 5, 6, 7, 8, 9]

#### reversing   a list using a comprehension

In [170]:
original_list = [10, 11, 12, 13, 14, 15]
output=[x for x in original_list[::-1]]
print(output)

[15, 14, 13, 12, 11, 10]

In [171]:
C
new_list = [original_list[len(original_list) - i]
            for i in range(1, len(original_list)+1)]
print(new_list)

[15, 14, 13, 12, 11, 10]

In [172]:
#cloning

In [174]:
list_copy2=original_list.copy()
print(list_copy2)

[10, 11, 12, 13, 14, 15]

In [177]:
import copy
list_copy3=copy.copy(original_list)
list_copy3

[10, 11, 12, 13, 14, 15]

In [191]:
#using map function to copy
list_map=map(int,list_copy3)
print('after cloning',*list_map)

after cloning 10 11 12 13 14 15

In [194]:
#printing the odd even nos in a list
#using list comprehension
list1=[10, 11, 12, 13, 14, 15]
even=[x for x in list1 if x%2==0]
odd=[x for x in list1 if x%2==1]
even,odd

([10, 12, 14], [11, 13, 15])

In [198]:
#using lambda nos
even=filter(lambda x:(x%2==0),list1)
print("even nos are as",*even)

even nos are as 10 12 14

In [209]:
# Python program to print Even Numbers in given range
x=int(input("enter the starting range point"))
y=int(input("enter the ending point of a range"))
if int(x)%2!=0:
    x=x+1
    
for i in range(x,y,2):
    print(i,end=' ')

enter the starting range point22
enter the ending point of a range88
22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86

In [241]:
import random
list1=[x for x in range(1,100)]
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [246]:
#using filter
even=(filter(lambda x:x%2==0,list1))
print("even nos are",*even)

even nos are 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [277]:
#using filter
even=[list(filter(lambda x:x%2==0,list1))]
print("even nos are",*even)

TypeError: 'list' object is not callable

In [290]:
list=[]
odd_even_list=[x for x in range(1,100)]
odd_count=len(set(filter(lambda x:(x%2!=0),odd_even_list)))
even_count=len(set(filter(lambda x:(x%2==0),odd_even_list)))
print(odd_count,even_count)
odd_count,even_count

50 49

(50, 49)

In [294]:
even=set(filter(lambda x:(x%2!=0),odd_even_list))
print('even nos are ',even,end=' ')

even nos are  {1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99}

In [295]:
test_list = [5, 6, [], 3, [], [], 9]
print(test_list)
test_list=[x for x in test_list if x!=[]]
print(test_list)

[5, 6, [], 3, [], [], 9]
[5, 6, 3, 9]

### removing duplicates

In [297]:
test_list = [1, 3, 5, 6, 3, 5, 6, 1]
print('original list',test_list)
print(set(test_list))

original list [1, 3, 5, 6, 3, 5, 6, 1]
{1, 3, 5, 6}

In [304]:
list2=[]
for x in test_list:
    if x not in list2:
        
        list2.append(x)
        
print(list2)

[1, 3, 5, 6]

#### using comprehension

In [312]:
x=set(filter(lambda x:(x for x in test_list if test_list.count(x)>1),test_list))
x

{1, 3, 5, 6}

In [314]:
import numpy as np
test_list = [4, 6, 4, 3, 3,6,6,6,6,6, 4, 3, 4, 3, 8]
np.unique(test_list)

array([3, 4, 6, 8])

In [320]:
# Python program to print all
# the possible combinations
  
from itertools import permutations
  
# Get all combination of [1, 2, 3]
# of length 3
comb = permutations([1, 2, 3], 3)
  
for i in comb:
    print(i)

(1, 2, 3)
(1, 3, 2)
(2, 1, 3)
(2, 3, 1)
(3, 1, 2)
(3, 2, 1)

### summation of digits of a no using lambda , mapping and reduce

In [321]:
test_list=[12,55,108,544,3]
print('original list',test_list)
from functools import reduce
dig_sum=list(map(lambda x:sum(int(y) for y in str(x)),test_list))
print("the sum of digits in an array are",dig_sum)

original list [12, 55, 108, 544, 3]

TypeError: 'list' object is not callable

In [322]:
max(test_list)

544

In [323]:
#printing the largest no in a list
test_list=[12,55,108,544,3]
print("print the second largest no in a list",sorted(test_list)[-2])

print the second largest no in a list 108

In [324]:
min(test_list)
np.max(test_list),np.min(test_list),np.sum(test_list)

(544, 3, 722)

In [326]:
test_list.sort()
#min no , max no
test_list[0],test_list[-1]

(3, 544)

In [327]:
#python program to remove the second largest no
# List of numbers
list1 = [10, 20, 4, 45, 99]
print('original list',list1)
list1.sort()
list1.remove(list1[-2])
list1

original list [10, 20, 4, 45, 99]

[4, 10, 20, 99]

In [328]:
#removing the largest nos in the list
list1 = [10, 20, 4, 45, 99,99]
print('original list',list1)
list1.remove(max(list1))
list1

original list [10, 20, 4, 45, 99, 99]

[10, 20, 4, 45, 99]