In [65]:
import pandas as pd
import numpy as np
import seaborn as sns

In [66]:
df=pd.read_csv('hotel_bookings.csv')

In [67]:
df.head(2)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01

In [68]:
df.shape

(119390, 32)

In [69]:
df.size

3820480

In [70]:
l=df.isnull().sum()
print(l)
for i in l:
    if i>0:
        print(i)

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64
4
488
16340
112593

In [10]:
df['company'].isnull().sum()

112593

In [12]:
df.company.isnull().sum()

112593

In [18]:
print(df.shape)
df.duplicated().sum()

(119390, 32)

31994

In [22]:
df.loc[df.duplicated(),:]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
22,Resort Hotel,0,72,2015,July,27,1,2,4,2,...,No Deposit,250.0,NaN,0,Transient,84.67,0,1,Check-Out,2015-07-07
43,Resort Hotel,0,70,2015,July,27,2,2,3,2,...,No Deposit,250.0,NaN,0,Transient,137.00,0,1,Check-Out,2015-07-07
138,Resort Hotel,1,5,2015,July,28,5,1,0,2,...,No Deposit,240.0,NaN,0,Transient,97.00,0,0,Canceled,2015-07-01
200,Resort Hotel,0,0,2015,July,28,7,0,1,1,...,No Deposit,240.0,NaN,0,Transient,109.80,0,3,Check-Out,2015-07-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119349,City Hotel,0,186,2017,August,35,31,0,3,2,...,No Deposit,9.0,NaN,0,Transient,126.00,0,2,Check-Out,2017-09-03
119352,City Hotel,0,63,2017,August,35,31,0,3,3,...,No Deposit,9.0,NaN,0,Transient-Party,195.33,0,2,Check-Out,2017-09-03
119353,City Hotel,0,63,2017,August,35,31,0,3,3,...,No Deposit,9.0,NaN,0,Transient-Party,195.33,0,2,Check-Out,2017-09-03
119354,City Hotel,0,63,2017,August,35,31,0,3,3,...,No Deposit,9.0,NaN,0,Transient-Party,195.33,0,2,Check-Out,2017-09-03
119373,City Hotel,0,175,2017,August,35,31,1,3,1,...,No Deposit,42.0,NaN,0,Transient,82.35,0,1,Check-Out,2017-09-04

In [24]:
len(df.loc[df.duplicated(),:])

31994

In [25]:
df.drop_duplicates(keep='first',inplace=True)

In [27]:
df.duplicated().sum()

0

In [28]:
df.shape

(87396, 32)

In [62]:
df.isnull().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

In [30]:
df.head(2)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01

In [32]:
df.children.isnull().sum(),df.country.isnull().sum()

(4, 452)

In [40]:
100*df.country.isnull().sum()/df.shape[0]

0.5171861412421621

In [41]:
100*df.company.isnull().sum()/df.shape[0]

93.98256213098998

In [42]:
100*(df['agent'].isnull().sum())/df.shape[0]

13.951439425145315

In [43]:
df.drop('agent',axis=1,inplace=True)

In [46]:
df.drop('company',axis=1,inplace=True)

In [47]:
df.isnull().sum()

hotel                               0
is_canceled                         0
lead_time                           0
arrival_date_year                   0
arrival_date_month                  0
arrival_date_week_number            0
arrival_date_day_of_month           0
stays_in_weekend_nights             0
stays_in_week_nights                0
adults                              0
children                            4
babies                              0
meal                                0
country                           452
market_segment                      0
distribution_channel                0
is_repeated_guest                   0
previous_cancellations              0
previous_bookings_not_canceled      0
reserved_room_type                  0
assigned_room_type                  0
booking_changes                     0
deposit_type                        0
days_in_waiting_list                0
customer_type                       0
adr                                 0
required_car_parking_spaces         0
total_of_special_requests           0
reservation_status                  0
reservation_status_date             0
dtype: int64

In [50]:
print(df.shape)

(87396, 30)

In [51]:
df.dropna(subset=['children','country'],inplace=True)

In [52]:
print(df.shape)

(86940, 30)

In [54]:
df.isnull().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

## there are no more missing values

### what about the time dtype

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86940 entries, 0 to 119389
Data columns (total 30 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           86940 non-null  object
 1   is_canceled                     86940 non-null  int64
 2   lead_time                       86940 non-null  int64
 3   arrival_date_year               86940 non-null  int64
 4   arrival_date_month              86940 non-null  object
 5   arrival_date_week_number        86940 non-null  int64
 6   arrival_date_day_of_month       86940 non-null  int64
 7   stays_in_weekend_nights         86940 non-null  int64
 8   stays_in_week_nights            86940 non-null  int64
 9   adults                          86940 non-null  int64
 10  children                        86940 non-null  float64
 11  babies                          86940 non-null  int64
 12  meal                            86940 non-null  object
 13  country                         86940 non-null  object
 14  market_segment                  86940 non-null  object
 15  distribution_channel            86940 non-null  object
 16  is_repeated_guest               86940 non-null  int64
 17  previous_cancellations          86940 non-null  int64
 18  previous_bookings_not_canceled  86940 non-null  int64
 19  reserved_room_type              86940 non-null  object
 20  assigned_room_type              86940 non-null  object
 21  booking_changes                 86940 non-null  int64
 22  deposit_type                    86940 non-null  object
 23  days_in_waiting_list            86940 non-null  int64
 24  customer_type                   86940 non-null  object
 25  adr                             86940 non-null  float64
 26  required_car_parking_spaces     86940 non-null  int64
 27  total_of_special_requests       86940 non-null  int64
 28  reservation_status              86940 non-null  object
 29  reservation_status_date         86940 non-null  object
dtypes: float64(2), int64(16), object(12)
memory usage: 20.6+ MB

# pd.to_datetime () function converts the given argument to datetime

In [57]:
df['reservation_status_date']= pd.to_datetime(df['reservation_status_date'])

In [59]:
df.head(2)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,C,3,No Deposit,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,C,4,No Deposit,0,Transient,0.0,0,0,Check-Out,2015-07-01

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86940 entries, 0 to 119389
Data columns (total 30 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           86940 non-null  object
 1   is_canceled                     86940 non-null  int64
 2   lead_time                       86940 non-null  int64
 3   arrival_date_year               86940 non-null  int64
 4   arrival_date_month              86940 non-null  object
 5   arrival_date_week_number        86940 non-null  int64
 6   arrival_date_day_of_month       86940 non-null  int64
 7   stays_in_weekend_nights         86940 non-null  int64
 8   stays_in_week_nights            86940 non-null  int64
 9   adults                          86940 non-null  int64
 10  children                        86940 non-null  float64
 11  babies                          86940 non-null  int64
 12  meal                            86940 non-null  object
 13  country                         86940 non-null  object
 14  market_segment                  86940 non-null  object
 15  distribution_channel            86940 non-null  object
 16  is_repeated_guest               86940 non-null  int64
 17  previous_cancellations          86940 non-null  int64
 18  previous_bookings_not_canceled  86940 non-null  int64
 19  reserved_room_type              86940 non-null  object
 20  assigned_room_type              86940 non-null  object
 21  booking_changes                 86940 non-null  int64
 22  deposit_type                    86940 non-null  object
 23  days_in_waiting_list            86940 non-null  int64
 24  customer_type                   86940 non-null  object
 25  adr                             86940 non-null  float64
 26  required_car_parking_spaces     86940 non-null  int64
 27  total_of_special_requests       86940 non-null  int64
 28  reservation_status              86940 non-null  object
 29  reservation_status_date         86940 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(16), object(11)
memory usage: 20.6+ MB

### Conclusion we have cleaned the dataset in removing the duplicated values and the missing values and we have converted reservation_status_date dtype to datetime